
body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

html, body {
    margin: 0;
    padding: 0;
}

#app {
    min-height: 100vh;
    color: rgba(0, 0, 0, .7);
}

#app header {
    height: 6rem;
    box-sizing: border-box;
    padding: 1.5rem;
}

#logo {
    font-size: 28px;
    margin-left: .8rem;
}

#app main {
    height: calc(100vh - 8rem);
    min-height: 30rem;
    box-sizing: border-box;
}

#app footer {
    height: 2rem;
}

#app aside nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#app aside nav ul li {
    margin-bottom: 1rem;
}

.uk-width-1-4 {
    margin-left: 1.2rem;
}

#app .uk-placeholder {
    border: 1px dashed rgba(0, 0, 0, .5);
    height: calc(100vh - 20rem);
    min-height: 20rem;
    box-sizing: border-box;
}

.uk-button-danger:disabled, .uk-button-default:disabled, .uk-button-primary:disabled, .uk-button-secondary:disabled {
    border-color: rgba(0, 0, 0, .5);
    color: rgba(0, 0, 0, .7);
}

.footer {
    font-size: .9rem;
    color: rgba(0, 0, 0, .5);;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 0 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.remove-image {
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    margin-top: 10px;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.uk-link {
    pointer-events: auto !important;
}